@charset "UTF-8";
.selection {
	
}
.selection img {
	width: 100%;
}
.selection ul {
	float: left;
	position: relative;
	width: 45%;
	margin: 15rem 3.5% 5rem 3.5%;
}
.selection ul.sl:before {
	content: "参选照片";
	position: absolute;
	top: -10rem;
	font-size: 5.4rem;
}
.selection ul.sl {
	margin-right: 1.5%;
}
.selection ul.sr {
	margin-left: 1.5%;
}
.selection ul li {
	float: left;
	width: 100%;
	margin: 2rem 0;
	background-color: #fff;
}
.selection li span {
	display: block;
	margin: 2rem;
	font-size: 4.2rem;
	word-wrap: break-word;
}
.selection li a {
	display: block;
	position: relative;
	height: 6rem;
	width: 6rem;
	margin: 0 0 1rem 20rem;
	background: url(../img/like_empty.png) no-repeat center;
	background-size: 6rem 6rem;
}
.selection li a.on {
	background: url(../img/like_full.png) no-repeat center;
	background-size: 6rem 6rem;
}
.selection li a font {
	position: absolute;
	top: 0rem;
	left: 6rem;
	font-size: 3.2rem;
}