<div class="campaign">
	<!-- <a class="back">&lt;-</a> -->
	<span ng-show="!isShow" class="c-empty"><br><br><br><br>赶紧参与活动<br>表达您对母亲的爱意吧</span>
	<a class="c-btn_01" href="#!/upload"></a>
	<ul ng-show="isShow" class="c-lst">
		<li ng-repeat="item in infoList">
			<div>
				<span>拍摄于</span>
				<h1 ng-bind="item.photoDate.substring(0,4) + '年'">2017年</h1>
				<font ng-bind="item.photoDate.substring(5, 10)">04/05</font>
			</div>
			<div>
				<div>
					<img ng-repeat="img in item.imageBases" ng-src="{{img.imgUri}}" ng-click="previewImage(img.imgUri, item.imageBases)">
					<!-- <img src="wechat/img/add_pic.png">
					<img src="wechat/img/add_pic.png">
					<img src="wechat/img/add_pic.png">
					<img src="wechat/img/add_pic.png">
					<img src="wechat/img/add_pic.png">
					<img src="wechat/img/add_pic.png">
					<img src="wechat/img/add_pic.png">
					<img src="wechat/img/add_pic.png"> -->
				</div>
				<font ng-bind="item.createDate">2017-04-28 14:59</font>
				<a ng-click="delInfo(item.dbid);">删除</a>
				<span ng-bind="item.description">照片描述</span>
			</div>
		</li>
	</ul>
</div>