<div class="main">
	<img src="wechat/img/banner.png">
	<span class="tf_01">随着年纪增长、为了念书、工作离开家乡，或许你也才渐渐明白了母亲的好，学会珍惜相处的时间。</span>
	<span class="tf_02">其实打从孩子出生的那刻，我们就成了母亲心底永远的缺，她无时无刻都在担心着、挂念着你。</span>
	<span class="tf_03">思考着哪时候该放手让你去闯荡、哪时又该紧紧抓住你那将掉入深渊的手，该怎么做才能让你感受到她的爱，该如何才不至于使你感到厌烦...</span>
	<span class="tf_04">妈妈呀！ 妈妈！你陪伴我人生中每一个重要时刻，如今我已经长大看到你的脸上的微笑就是我最大的幸福~</span>
	<div class="af_01">
		<img src="wechat/img/decorate7.png">
		<span>
			现在有一个机会摆在你的面前~<br>
			上传母亲的照片<br>
			附上祝福的话语<br>
			勇敢的表达你对母亲的爱吧<br>
		</span>
		<span>
			届时将评选出点赞人数最多的TOP5<br>
			奉上精美礼品哦~~
		</span>
	</div>
	<ul class="rf_01">
		<li>活动详情</li>
		<li>
			<h1>时间安排：</h1>
			<span>
				参选时间：<!-- 即刻起-4月30日16:00止 --><br>
				评选时间：<!-- 即刻起-5月4日16:00 --><br>
				结果公布时间：<!-- 5月8日 -->
			</span>
		</li>
		<li>
			<h1>活动要求：</h1>
			<span>
				请上传时附上照片拍摄时间；<br>
				请尽量选择脸部清晰的照片；
			</span>
		</li>
		<li>
			<h1>注意事项：</h1>
			<span>
				本活动的最终解释权归xx所有
			</span>
		</li>
	</ul>
	<ul class="rf_03">
		<li>奖品设置</li>
		<li class="rf_03_01">
			一等奖：小米VR眼镜
		</li>
		<li class="rf_03_02">
			二等奖：小米手环2
		</li>
		<li class="rf_03_03">
			三/四/五等奖：一个月爱奇艺会员
		</li>
	</ul>
	<ul class="rf_02">
		<li>活动入口</li>
		<li>
			感恩母亲节<br>
			上传母亲的最美微笑照片<br>
			<a href="#!/campaign">参与活动</a>
		</li>
		<li>
			点赞+评论<br>
			评选最美微笑照片<br>
			<a href="#!/selection">参加评选</a>
		</li>
		<li>
			点赞最多者<br>
			将获得精美礼品<br>
			<a href="#!/result">查看评选结果</a>
		</li>
	</ul>
	<span class="end">END</span>
</div>