<div class="selection">
	<img src="wechat/img/banner.png">
	<ul class="sl">
		<li ng-repeat= "item in leftList">
			<img ng-src="{{item.imgUri}}" ng-click="previewImage(item.imgUri);">
			<span ng-bind="item.description">描述信息</span>
			<a ng-class="item.countMy == 1 ? 'on' : ''" ng-click="likeImage(item.dbid, 'leftList');">
				<font ng-bind="item.countAgree || 0">0</font>
			</a>
		</li>
	</ul>
	<ul class="sr">
		<li ng-repeat= "item in rightList">
			<img ng-src="{{item.imgUri}}" ng-click="previewImage(item.imgUri);">
			<span ng-bind="item.description">描述信息</span>
			<a ng-class="item.countMy == 1 ? 'on' : ''" ng-click="likeImage(item.dbid, 'rightList');">
				<font ng-bind="item.countAgree || 0">0</font>
			</a>
		</li>
	</ul>
	<a ng-click="getMore();" class="more" ng-show="isShow"></a>
</div>